<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Example1</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>php.manag.sys.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminMenuServlet</servlet-name>
		<servlet-class>php.manag.sys.servlet.admin.AdminMenu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminMenuServlet</servlet-name>
		<url-pattern>/AdminMenu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddApplicationServlet</servlet-name>
		<servlet-class>php.manag.sys.servlet.admin.AddApplication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddApplicationServlet</servlet-name>
		<url-pattern>/AddApplication</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>ViewApplicationServlet</servlet-name>
		<servlet-class>php.manag.sys.servlet.admin.ViewApplication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewApplicationServlet</servlet-name>
		<url-pattern>/ViewApplication</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<servlet-name>RegisterUserServlet</servlet-name>
		<servlet-class>php.manag.sys.servlet.admin.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/RegisterUser</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<servlet-name>UploadFileProposalServlet</servlet-name>
		<servlet-class>php.manag.sys.uploadFile.FileUploadDBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileProposalServlet</servlet-name>
		<url-pattern>/UploadFileProposal</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>DownloadFileProposalServlet</servlet-name>
		<servlet-class>php.manag.sys.uploadFile.DBFileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadFileProposalServlet</servlet-name>
		<url-pattern>/DownloadFileProposal</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>ChangeProposalStatusServlet</servlet-name>
		<servlet-class>php.manag.sys.servlet.admin.ChangeProposalStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeProposalStatusServlet</servlet-name>
		<url-pattern>/ChangeProposalStatus</url-pattern>
	</servlet-mapping>
	
	
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
	
</web-app>